:root {
    --search-btn-color: #B92C2C;
    --search-btn-bg-color: white;
}

html {
    overflow-x: -moz-hidden-unscrollable;
    height: 100%;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    width: calc(100vw + 18px);
    overflow: auto;
    overflow-x: hidden;
    background: rgba(248, 250, 253, 0.2);
}

input[type='radio']:not(:checked):hover {
    cursor: pointer;
}

input[type='checkbox']:hover {
    cursor: pointer;
}

.scroll-to-top {
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.5);
    line-height: 46px;
    z-index: 100;
}

.table td,
.table th {
    padding: 0.75rem;
}

/*.container {*/
/*    width: 1200px !important;*/
/*    margin: 0 auto;*/
/*}*/

/*@media (min-width: 1400px) {*/
/*    .container {*/
/*        width: 1370px;*/
/*    }*/
/*}*/