.search-btn {
    color: var(--search-btn-color);
    background-color: var(--search-btn-bg-color);
    transition: all 1s;
    @apply p-2.5 w-5 h-5 absolute top-0 right-0 align-middle rounded-full text-center;
}

.search-btn:hover {
    --search-btn-color: white;
    --search-btn-bg-color: #B92C2C;
}

.search-bar {
    @apply py-0 px-5 w-full h-12 absolute top-0 left-0;
    @apply border-0  leading-8 hidden rounded-xl text-base;
}

.search-container {
    transform: translate(-50%, -50%);
    transition: all 1s;
    box-shadow: 0 0 1px #AE4B4B;
    @apply p-1 relative top-1/2 left-1/2 w-12 h-12;
    @apply box-border bg-white rounded-full border-4 border-solid border-white;
}

.search-container:hover {
    --search-btn-color: white;
    --search-btn-bg-color: #B92C2C;
    @apply w-full
}